#include <stdint.h>
#include <linux/can.h>
#include <linux/can/raw.h>
#include "main.h"

void create_keys() {
	{% for signal_name, signal_def in signals.iteritems() %}
	can_signal_create("{{ signal_name }}");
	{% endfor %}
}

void set_keys(canid_t can_id, uint8_t* can_data) {

	int value;

	switch (can_id) {
	{% for msg_id, msg_signals in messages.iteritems() %}
	case {{ msg_id }}:
		{% set index0 = 0 %}
		{% for signal in msg_signals %}
			value = CAN_PARSE_UINT16(can_data, {{ loop.index0*2 }});

			{% if signals[signal]['transform'] %}
				value = value {{ signals[signal]['transform'] }};
			{% endif %}

			can_signal_set_value("{{ signal }}", value);

		{% endfor %}
		break;
	{% endfor %}
	}
}
